/* imports */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

/* global and shared attributes */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(218, 165, 32, 0.20);
    min-height: 100vh;
    margin: 0;
}

h1, .footer {
background-color: #a31515; 
/*     background-color: #64d1e4;
 */}

button:hover, .slider::-webkit-slider-thumb, .slider::-webkit-slider-thumb {
    background-color: gold;
}

.gridContainer, button {
    box-shadow: 5px 5px black;
    background-color: white;
}

.footer, button, p {
    font-family: Calibri, sans-serif;
    font-size: 2.0vh;
}

/* header */

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    margin-top: 0;
    color:gold; 
    font-family: 'Rubik Vinyl', cursive;
    font-size: 7.5vh;
}

/* grid area */

.instructions {
    margin-top: -1vh;
    padding-bottom: 1vh;
    text-align: center;
    font-weight: normal;
}

.gridContainer {
    display: grid;
    border: 1px solid black;
    height: 40vh;
    width: 40vh;
}

/* buttons */

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 50vh;
    height: 15vh;
}

button {
    border: 3px solid black;
    font-weight: bolder;
    padding: 1.5vh 3vh;
    border-radius: 20vh;
    cursor: pointer;
}

button:hover {
    transition: 0.2s;
}

button:active {
    transform: translateY(4px);
    transform: translateX(4px);
    box-shadow: 1px 1px black;
}

/* slider */

.slider {
    appearance: none;
    width: 20vh;
    height: 1.5vh; 
    transition: opacity .2s;
    border: 1px solid black;
    border-radius: 100vh;
    box-shadow: 0 0 1px 1px black;
  }
  
  /* The slider handle */
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 2vh;
    height: 3vh;
    border: 3px solid black;
    cursor: pointer;
    border-radius: 100vh;
  }


.slideContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vh;
}

p {
    font-weight: bold;
}

  /* footer */
a, .footer {
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    height: 5vh;
    gap: 1vh;
}

a {
    text-decoration: none;
}

.gitLogo {
    max-height: 2.5vh;
}