@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #DCDCDC;
    min-height: 100vh;
    margin: 0;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    margin-top: 50px;
}

.gridContainer {
    width: 600px;
    height: 600px;
    display: grid;
    margin-top: 50px;
    background-color: white;
    box-shadow: 5px 5px black;
    border: 1px solid black;
}


button {
    border: 3px solid black;
    font-weight: bolder;
    font-size: 22px;
    padding: 12px 30px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 5px 5px black;
}

button:hover {
    background-color: goldenrod;
    transition: 0.2s;
}
button:active {
    transform: translateY(4px);
    transform: translateX(4px);
    box-shadow: 1px 1px black;
}

/* slider */

.slider {
    appearance: none;
    width: 200px; /* Full-width */
    height: 12px; /* Specified height */
    background: #d3d3d3;
    transition: opacity .2s;
    border: 1px solid black;
    border-radius: 100px;
    box-shadow: 0 0 1px 1px black;
  }
  
  /* The slider handle */
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 35px;
    height: 35px;
    background-color: goldenrod;
    border: 3px solid black;
    cursor: pointer;
    border-radius: 100px;
  }

  /* footer */

.footer {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #27292b;
    color: #f8f8ff;
    width: 100%;
}

a {
    text-decoration: none;
    color: #f8f8ff;
}

.gitLogo {
    max-height: 30px;
    margin-left: 10px;
}

.footer {
    background-color: #aa1a1a;
    color: #f8f8ff;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

h1 {
    background-color: #aa1a1a;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-family: 'Rubik Vinyl', cursive;
    color:goldenrod; 
    font-size:80px;
    height: 150px;
    width: 100%;
}

.slideContainer {
    display: flex;
    padding-top: 50px;
    width: 600px;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-right: 20px;
}